@import "../../theme";

@user-mb: 24px;

.user-container {
  padding: @photo-album-padding;
  margin-top: 12px;
}

.user-info {
  .photo-album-border();
  margin-bottom: @user-mb;
  padding: 18px;
  background-color: @photo-album-type-color-primary;
  display: flex;
  flex-direction: row;
  align-items: center;

  .user-info-avatar {
    width: 108px;
    height: 108px;
    margin-right: 18px;
    border-radius: 50%;
    overflow: hidden;
  }

  .user-info-nick-name {
    color: #333;
  }
}

.user-basic {
  .photo-album-border();
  margin-bottom: @user-mb;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .user-icon {
    width: 68px;
    height: 68px;
    margin-right: 18px;
  }

  .user-text {
    font-weight: bold;
  }
}

.user-basic-bg{
  background-color: @photo-album-type-color-secondary;
}
