@import "../../theme";

.detail-container {
  padding: @photo-album-padding;

  .detail-container-content {
    display: inline-block;
    width: calc(50% - 8px * 2);
    margin: 0 8px;
    border-radius: 8px;
    //overflow: hidden;
    //TODO
  }

  .detail-container-content-image {
    width: 100%;
    display: block;
  }
}
