@import "../../theme";

.bg-grid-slate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(15 23 42 / 0.04)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e")
}

.photo-album-container {
  padding: 0 24px;
}

.photo-album-type-text-zh, .photo-album-type-text-en {
  font-size: 32px;
  font-weight: 600;
}

.text-odd {
  color: @photo-album-type-color-primary;
}

.text-even {
  color: @photo-album-type-color-secondary;
}

.photo-album-type-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo-album-type-image {
  margin-bottom: 56px;
  background-color: aqua;
  border-radius: 8px;
  overflow: hidden;
}

.photo-album-type-image image {
  width: 100%;
  display: block;
}
